

.shopowner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: $colorWhile;
  border-bottom: 1px solid #e3e3e9 ;
  box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
  top: 0;
    left: 0;
    position: fixed;
    width: 100%;
  &--left{
    width: 80%;
    display: flex;
    justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #e3e3e9;
    .box--left{
      display: flex;
      justify-content: flex-start;
    align-items: center;
width: 85%;
    }
    .box--right{
      padding: 5px 5px;
      position: relative;
      &--img{
        width: 32px;
      height: 32px;
      margin-right: 8px;
      border-radius: 50%;

      }
      &--span{
        font-size: 14px;
      }
      .drop--down{
         display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        &--link{
          padding: 7px 5px;
          font-size: 14px;
            a{
              text-decoration: none;
              color:black;
            }
        }
        &--link:hover{
          background-color: #e3e3e9;
          
        }
      }

    }
    .box--right:hover{
      background: #e3e3e9;
      border-radius: 20px;
    }
    .box--right:hover  .drop--down {display: block;}
    margin-left: 50px;
    &--logo{
      color:black !important;
      font-size: 20px;
      font-weight: 700;
      margin-right: 15px;
    }

  }
  &--right{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    font-size: 23px;
   
    &--grid{
      margin: 0 25px;
      .grid--icon{
       display: flex;
       justify-content: center;
       align-items: center;
        width: 40px;
    height: 40px;
      }
      .grid--icon:hover{
        background: #e3e3e9;
       border-radius: 100%;
      
      }
    }
    &--notification{

      .grid--icon{
        display: flex;
        justify-content: center;
        align-items: center;
         width: 40px;
     height: 40px;
       }
       .grid--icon:hover{
         background: #e3e3e9;
        border-radius: 100%;
       
       }
    }

  }
}

@media screen and (max-width: 800px) {

  }