.history{
  &--wrapper{
    width: 85%;
    margin: 0 auto;
  }
}
.item{
  font-size: 14px;
   .delete{
       position: absolute;
       top:0;
       left: 0;
       z-index: 10000000000000;
       
       width: 100%;
       padding:5px;
       div{
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          div{
              button{
                  padding:2px 5px!important;
              }
          }
       }
   }
  &__attribute{
    
      padding: 15px 0px;
      border-bottom: 1px solid black  ;
      
      // &--link{
      //     margin-left: 2rem;
      //     width: 90%;
      //     height: 1.5rem;
      //     display: flex;
      //     align-items:flex-start;
      // justify-content: center  ;
      // flex-wrap: nowrap   ;
      
      // }
      &--checkbox{
      width: 10%;
    
      }
      &--id{
          width: 10%;
          padding-right:20px;
          
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; 
      }
      &--name{
          width: 10%;
         
          padding-right: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; 
      }
      &--desc{ 
          width: 10%;
          padding-right: 20px;
        
           white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
      
      }
      &--quantity{
          
          padding-right: 20px;
        
      }
      &--price{
          padding-right: 20px; 
         
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
         
      }
      &--sold{
          padding-right: 20px;
          
      }
      &--edit{
         padding-right: -20px;
       
          white-space: none;
          text-overflow: none;
          overflow: none;
          
      }
  }
}
.checked{
  background-color: #d6d0d0;
}
table{
thead{
   color:black;
   
   tr{
       th{
          padding: 10px 0;
       }
   }
}   
tbody{
   tr{
       th{
          padding: 10px 0;
          font-weight: 400;
       }
   }
}

}
