$colorPrimary:#fa5b2f;
$colorSecondary:#f5f5f5;
$colordarkPrimary:#ec4719;
$colorWhile:#ffffff;


.btn--option{
  
 padding: 5px 10px;
  border-radius: 2px;
  border: 0;
  background-color: #d1d1d1;
  cursor: pointer;
}
.btn--pagination{
  outline: none;
  cursor: pointer;
  border: none;
  font-size: .875rem;
  font-weight: 300;
  // line-height: 1;
  // letter-spacing: 0;
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0/5%);
  // width: 2.25rem;
  height: 2.125rem;
  border-radius: 2px;
  background-color: rgb(255, 255, 255) ;
  border: 0;
  
}
.btn--pagination:hover{
  background-color: rgb(224, 214, 214) ;
}

.btn--disable{
  background-color: rgb(249,249,249) ;
  color: rgb(223, 219, 219)
}
.btn--disable:hover{
  background-color: rgb(249,249,249) ;
  color: rgb(223, 219, 219)
}
.btn--primary{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: $colorPrimary;
  padding:5px 15px;
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0/5%);

}
.btn--outline{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: $colorPrimary;
  padding:5px 10px;
  

}
.btn--outline:hover{
  background-color: $colordarkPrimary;
}
.btn--primary:hover{
  background-color: $colordarkPrimary;
}

@import "./header.scss";
@import "./login.scss";
@import "./register.scss";
@import "./yourfeed.scss";
//  @import "~antd/dist/antd.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
// @import '~bootstrap/scss/bootstrap.scss';
//@import "./landingPage.scss";
//@import "./dashboard//index.scss";
@import "~react-datepicker/dist/react-datepicker.css";
@import "./confirmEmail/index.scss";
@import "./homepage/homepage.scss";
@import "./homepage/shop_page.scss";
@import "./Category/Category.scss";
@import "./search-page/searchpage.scss";
@import "./shop/header.scss";
@import "./shop/defaultlayout.scss";
@import "./shop/navbar.scss";
@import "./shop/tab.scss";
@import "./shop/search.scss";
@import "./shop/order.scss";
@import "./shop/item.scss";
@import "./shop/choosecategory.scss";
@import "./shop/addproduct.scss";
@import "./shop/shopprofile.scss";
@import "./user/userprofile.scss";
@import "./history/history.scss";
@import "./detailItem/detaiItem.styles.scss";
// @mixin layout{
    
  
//    display: grid;
//    width: 80%;
//    grid-template-columns: repeat(6, 1fr);
//    grid-template-rows: auto ;
//    grid-column-gap: 20px;
//      grid-row-gap: 20px;
     
// }
// #App{
//   height: 100%;
//   width: 100%;
//   &__main{
//   display: flex;
  
//     &--layout{
//      max-height: 150px;
     
//          @include layout;
         
//      grid-template-areas:
//      "header header header header header header"
//      "body body body body body body "
     
//      " footer footer footer footer footer footer"
    
//      ;
//   #header{
//   grid-area: header;

//   }
//   #body{
//    background: green;
//     grid-area: body;
//     width: 100%;
//   }
  
//   #footer{
//     background: yellow;
//     grid-area: footer;  
//   }
// }
// &--navbar{
 
  
//   #navbar{
//     width: 100%;
   
//   }
// }
//     }
//   }
  
//   @media screen and (max-width: 1250px) {
//  #App{
//   &__main{
//    display:flex;
  
//     &--layout{
//            @include layout;
//      width: 75%;
   
//      grid-template-areas:
//      "header header header header header header"
//      "body body body body body body "
     
//      " footer footer footer footer footer footer"
    
//      ;
//   #header{
//   grid-area: header;
//   &__social{
// width: 25%;
// margin:3.5% 0 0 2%;
// &--detail{
//   white-space: nowrap;
//   a{
//     white-space: nowrap;
//   }
// }
// }
// &__mode{
// margin:4% 0 0 1%;
// width: 5%;
// &--detail{
// display: flex;
// }
//  }
//   &__navbar{
//     width:2%;
//     margin:4% 0 0 50%;
//     display:none;
//     font-zise:4rem;
//  }
//  &__menu{
   
// width: 50%;
// margin:3% 2% 0 10%;
// font-size: 1.5rem;


// .menu{
//   margin-left: 1rem;
//   a{
//     text-decoration: none;
    
//   }
// }
//  }

//   }
//   #body{
//    background: green;
//     grid-area: body;
//   }
  
//   #footer{
//     background: yellow;
//     grid-area: footer;  
//   }
// }
// &--navbar{
 
  
// }
//     }
//   }
// }

// @media screen and (max-width: 992px) {
//  #App{
//   &__main{
//    display:flex;
  
//     &--layout{
//            @include layout;
//      width: 75%;
 
//      grid-template-areas:
//      "header header header header header header"
//      "body body body body body body "
     
//      " footer footer footer footer footer footer"
    
//      ;
//   #header{
//   grid-area: header;
//   &__social{
// width: 25%;
// margin:3.5% 0 0 2%;
// &--detail{
//   white-space: nowrap;
//   a{
//     white-space: nowrap;
//   }
// }
// }
// &__mode{
// margin:4% 0 0 1%;
// width: 5%;
// &--detail{
// display: flex;
// }
//  }
//   &__navbar{
//     width:2%;
//     margin:4% 0 0 50%;
//     display:none;
//     font-zise:4rem;
//  }
//  &__menu{
   
// width: 50%;
// margin:3% 2% 0 10%;
// font-size: 1.5rem;


// .menu{
//   margin-left: 1rem;
//   a{
//     text-decoration: none;
    
//   }
// }
//  }

//   }
//   #body{
//    background: green;
//     grid-area: body;
//   }
  
//   #footer{
//     background: yellow;
//     grid-area: footer;  
//   }
// }
// &--navbar{
 
  
// }
//     }
//   }
//   #navbar{
//   &__toggle{
//     margin:0.5rem 0 0 5rem;}
//   }
// }

// /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 800px) {
//   #App{
//   &__main{
//    display:flex;
  
//     &--layout{
        
    
//   @include layout;
//      grid-template-areas:
//      "header header header header header header"
//      "body body body body body body "
     
//      " footer footer footer footer footer footer"
    
//      ;
//   #header{
//   grid-area: header;
//   &__social{
// width: 25%;
// margin:3.5% 0 0 2%;
// &--detail{
//   display:flex;
  
// }
// }
// &__mode{
// margin:4.5% 0 0 12%;
// width: 5%;
// &--detail{
// display: flex;
// }
//  }
//   &__navbar{
//     width:2%;
//     margin:3% 0 0 20%;
//     display:block;
//     font-size:2rem;
//  }
//  &__menu{
//    display:none;
// width: 50%;
// margin:0 0 0 0;

// div{



// .menu{
//   padding-left: 2rem;
  
//   a{
//     text-decoration: none;
//     font-size: 1rem !important;
//   }
// }
//  }}

//   }
//   #body{
//    background: green;
//     grid-area: body;
//   }
  
//   #footer{
//     background: yellow;
//     grid-area: footer;  
//   }
// }
// &--navbar{
 
// }
//     }
//   }
// }
// @media screen and (max-width: 732px) {
// #App{
//   &__main{
//    display:flex;
  
//     &--layout{
         
    
//   @include layout;
//      grid-template-areas:
//      "header header header header header header"
//      "body body body body body body "
     
//      " footer footer footer footer footer footer"
    
//      ;
//   #header{
//   grid-area: header;
//   &__social{
// width: 15%;
// margin:3.5% 0 0 2%;}
//   &__navbar{
//     width:2%;
//     margin:3% 0 0 35%;
//     display:block;
//     font-zise:4rem;
//  }
//  &__menu{
//    display:none;
// width: 60%;
// margin:3% 0 0 20%;
// font-size: 2rem;


// .menu{
//   padding-left: 2rem;
//   a{
//     text-decoration: none;
    
//   }
// }
//  }

//   }
//   #body{
//    background: green;
//     grid-area: body;
//   }
  
//   #footer{
//     background: yellow;
//     grid-area: footer;  
//   }
// }
// &--navbar{
 
  
// }
//     }
//   }
// }

// /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//   #header{
//      &__navbar{
//     width:2%;
//     margin:3% 0 0 20%;
//     display:block;
//     font-size:2rem;
//  }
  
//   &__mode{


// width: 5%;
// &--detail{
// display: flex;

// translate: (4rem,4rem);
// }
//  }}
// }
// @media screen and (max-width: 501px) {
//  #header{
//     &__logo{
//    width: 25%;
//    margin-top: 4%;
//   &--img{
     
//     a{
//       margin:3% 0 0 2%;
//       img{
        
//        width: 70%;
//   height: auto;
//       }
//     }
//   }
//  }
//      &__navbar{
//     width:2%;
//     margin:3% 0 0 20%;
//     display:block;
//     font-size:2rem;
//  }
  
//   &__mode{
//     display:none;
// margin:3% 0 0 7%;
// width: 5%;
// &--detail{
// display: flex;
// }
//  }
// }
// #navbar{
//    &__toggle{
//     margin:0.5rem 0 0 90%;}
//   &__mode{
//     display: block;
//     margin-left: 2rem !important;
//     padding: 5px;
//   }
//    &__menu{
//     a{
//        margin: 3rem 0 3rem 2rem !important;
//       font-size: 1rem !important;
//     }
//   }
// }
// }

// /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 400px) {
//   #header{
//     &__logo{
//    width: 25%;
//    margin-top: 4%;
//   &--img{
     
//     a{
//       margin:3% 0 0 2%;
//       img{
        
//        width: 70%;
//   height: auto;
//       }
//     }
//   }
//  }
//  &__social{
   
//    &--detail{
// margin-top: 0.5rem;
//    }
//  }
//      &__navbar{
//     width:2%;
//     margin:3% 0 0 20%;
//     display:block;
//     font-size:2rem;
//     span{
//       margin-top: 1.5rem;
//     }
//  }
  
//   &__mode{
//     display:none !important;
// margin:3% 0 0 10%;
// width: 5%;
// &--detail{

// }
//  }
// }
// #navbar{
//   &__toggle{
//     margin:0.5rem 0 0 90%;}
//   &__mode{
//     display: block;
//      margin:1rem 0 0 0.5rem;
//   }
//   &__menu{
//     a{
//        margin: 3rem 0 3rem 2rem !important;
//       font-size: 1rem !important;
//     }
//   }
// }
// }
