#register{
  margin-top: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
    
  background-color:  rgb(240, 242, 245);
  .registerBox{
    width: 100%;
    background: white;
    height: 100%;
   

    // form{
    //   width: 100%;
    //   margin: 2rem 0;
    //   .input{
    //     width: 100%;
    //     margin-top: 15px;
    //     input{
    //       height: 30px;
    //       width: 100%;
    //       border-radius: 1px;
           
    //     }
    //   }
    //   .submit{
    //     margin-top: 2rem;
         
    //     input{
    //        border-radius: 5px;
    //       box-sizing: border-box;
    //       color: white;
    //       font-weight: bold;
    //       box-shadow: hsla(145, 80%, 44%, 0.938);
    //       background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
    //       height: 2rem;
    //       width: 100%;
    //     }
    //   }
    //   .login{
    //       .question {}

    //       .link {
    //         margin-left: 10px;

    //         a {
    //           text-decoration: none;
    //         }
    //       }

    //   }
    // }
  }
}
@media screen and (max-width: 1250px) {
  #register {
    margin-top: -22px;
      .registerBox
 {
      width: 35%;
      height: 80%;
    }
  }
}

@media screen and (max-width: 992px) {
  #register {
    margin-top: -20px;
      .registerBox
 {
      width: 42%;
      height: 80%;
    }
  }
}

@media screen and (max-width: 800px) {
  #register {
      .registerBox
 {
      width: 55%;
      height: 80%;
    }
  }
}
@media screen and (max-width: 732px) {
  #register {
      .registerBox
 {
      width: 70%;
      height: 80%;
    }
  }
}

@media screen and (max-width: 600px) {
  #register {
      .registerBox
 {
      width: 70%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 500px) {
  #register {
      .registerBox
 {
      width: 90%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 400px) {
  #register {
      .registerBox
 {
      width: 90%;
      height:90%;
    }
  }
}
@media screen and (max-width: 350px) {
  #register {
      .registerBox
 {
      width: 99%;
      height: 90%;
    }
  }
}

