.register{
  &--wrapper{
    width: 85%;
    margin:0 auto;
  }
  &--header{
    height: 100px;
    display: flex;
    align-items: center;
  }
  &--title{
    font-size: 26px;
    color:$colorPrimary ;
  }
  &--logo{
    color: #000;
    font-size: 30px;
    margin-right: 20px;
  }
  &--main{
    background-color: $colorPrimary;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin:20px 0;
    .box1{
      margin:40px 40px;
      background-color: white;
      width: 400px;
      padding: 10px 15px;
    //   display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
     &--wrapper{
        &--title{
          margin: 20px 0;
        }
        .error{
          white-space:normal;
          color:$colorPrimary;
        
        }
        .input{
          padding:10px 0;
        }
        .btn{
          width: 100%;
        }
        .login{
          margin-top: 10px;
        }
     }
    }
  }
}