.item__detail{
    margin-top:100px;
    // display: flex;
    //  justify-content: center;
    //  align-items: center;
      
 &__box{
     display: flex;
     justify-content: center;
     align-items: center;
      
     &__calosel{
        width: 50%;
        .image-gallery-slide .image-gallery-image {
            width: 100%;
            object-fit: contain;
            height: 400px;
        }
      }
      &__infor{
          width: 50%;
          &--description{
              margin-left: 2rem;
          }
      }
 }
}