.blurPic{
    width: 100%;
    height: 100vh;
}
 .blur .layer1{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    
    background: url("../minh.jpg");
    height: 100vh;
   background-attachment: fixed;
    background-position: center;
    background-size: cover;
   z-index: 1;
    transition: 2s;
}
 .layer2{
    position: absolute;
  filter: blur(10px);
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: url("../minh2.png") !important;
    // -webkit-clip-path: inset(30px 10px 30px 10px);
    // clip-path: inset(30px 10px 30px 10px);
background-repeat: no-repeat;
    width: 850px;
    height: 500px;
    background: #000;
    z-index: 2;
    transition: 2s;
    box-sizing: border-box;
}
// .layer2:hover > .layer1{
//     filter:blur(10px) !important;
//     z-index: 10 !important;
//     border: 10px solid;
// }
.layer1:hover ~ .layer2{
    box-shadow:  0 25px 0 60px rbga(0,0,0,0.8);
   filter: blur(0px);
  
    }
    .layer1:hover{
        filter: blur(10px);
    }

    @media only screen and(max-width:500px){
        .layer2{
            width: 300px;
            height: 50%;
        }
    }