.declare{
    background:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    background-size:#091921 ;
}
.declare p{
    color:#215e65;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.declare label{
    position: relative;
}
.declare label input{
    appearance: none;
    cursor: pointer;
}
.declare label .tick{
    position: relative;
    width: 40px;
    height: 40px;
    background: #091921;
}
