.item{
    &__attribute{
        display: flex;
        justify-content: space-between;
        align-items: flex-start ;
        padding: 15px 0px;
        border-bottom: 1px solid black  ;
        &--link{
            margin-left: 2rem;
            width: 90%;
            height: 1.5rem;
            display: flex;
            align-items:flex-start;
        justify-content: center  ;
        flex-wrap: nowrap   ;
        
        }
        &--checkbox{
         width: 5%;
         
        }
        &--id{
            
            width: 12%;
       
        }
        &--name{
            width: 15%;
        
        }
        &--desc{
            width: 50%;
             white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        
        }
        &--quantity{
            padding-left: 20px;
            width: 15%;
        }
        &--price{
            padding-left: 20px; 
            width: 15%;
        }
        &--sold{
            padding-left: 20px;
            width: 15%;
        }
        &--detele{
           padding-left: -20px;
            width: 5%;
            
        }
    }
}
.pagination{
    margin-top: 20px;
   margin-left: 70%;

}
.previous{
    outline: none;
  border-radius: 5px;
    background-color: rgb(41, 245, 0);
   padding:0 5px;
}
.previous >a:focus{
    border:none;
}
.next{
    outline: none;
    border-radius: 5px;
    background-color: rgb(41, 245, 0);
    padding:0 5px;

}
.pagination > .active{
    border: 1px solid ;
    padding : 0 5px ;
    background-color: rgb(233, 241, 232);
}
.pagination >li{
    margin-left: 10px;
}
.disabled{
    background-color: rgb(107, 107, 103);
}
@media(max-width:1384px){
    .pagination{
        margin-top: 20px;
       margin-left: 65%;
    
    }
}
@media(max-width:1220px){
    .pagination{
        margin-top: 20px;
       margin-left: 60%;
    } 
    
}
@media(max-width:1104px){
    .pagination{
        margin-top: 20px;
       margin-left: 55%;
    
    } 
    .navigator{
        margin-left: -20px;
    }
  
}
@media(max-width:1000px){
    .pagination{
        margin-top: 20px;
       margin-left: 50%;
    
    } 
  
}
@media(max-width:940px){
    .pagination{
        margin-top: 20px;
       margin-left: 40%;
    
    } 
    .item__attribute--desc{
        width: 40%;
         white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    
    }
  
}
@media(max-width:830px){
    .pagination{
        margin-top: 20px;
       margin-left: 30%;
    
    } 
  
}
@media(max-width:775px){
   
    .item__attribute--desc{
        display: none;
    
    } 
    .item__attribute--quantity{
        margin-right: 1rem;
    }
    .navigator--desc{
        margin-left: 1rem;
       
    }
}
@media(max-width:700px){
    .item__attribute--link{
        margin-left: -0.5rem;
    }
    .pagination{
        margin-top: 20px;
       margin-left: 15%;
    
    } 
}
@media(max-width:641px){
    .item__attribute--link{
        margin-left: -0.5rem;
    }
    .pagination>li{
       
            margin: none !important;
            padding: none;
      
    //     margin-top: 20px;
    //    margin-left: 5%;
    // display: none;
    } 
}
@media(max-width:376px){
    .pagination{
        margin-left: 50%;
       li:not(:last-child):not(:first-child){
         display: none;
       }
    }  
    .item__attribute--link{
        margin-left: -2.5rem;
    }
    .item__attribute--sold{
        display: none;
    }
    .navigator--quantity{
        font-size: 15px;
        padding-left: 0.5rem;
    }
}

