

.pagination{
    margin-top: 20px;
   margin-left: 70%;

}
.previous{
    outline: none;
  border-radius: 5px;
    background-color: rgb(41, 245, 0);
   padding:0 5px;
}
.previous >a:focus{
    border:none;
}
.next{
    outline: none;
    border-radius: 5px;
    background-color: rgb(41, 245, 0);
    padding:0 5px;

}
.pagination > .active{
    border: 1px solid ;
    padding : 0 5px ;
    background-color: rgb(233, 241, 232);
}
.pagination >li{
    margin-left: 10px;
}
.disabled{
    background-color: rgb(107, 107, 103);
}
.navigator{
    &--price{
        white-space: none;
            text-overflow: none;
            overflow: none;
    }
}
@media(max-width:1384px){
    .pagination{
        margin-top: 20px;
       margin-left: 65%;
    
    }
}
@media(max-width:1220px){
    .pagination{
        margin-top: 20px;
       margin-left: 60%;
    } 
    
}
@media(max-width:1280px){
    .pagination{
        margin-top: 20px;
       margin-left: 50%;
    
    } 
    // .navigator{
    //     margin-left: -20px;
    // }
  
}
@media(max-width:1000px){
    .pagination{
        margin-top: 20px;
       margin-left: 50%;
    
    } 
  
}
@media(max-width:1366px){
    .pagination{
        margin-top: 20px;
        margin-left: 70%;
    
    } 
    // .item__attribute--desc{
    //     width: 40%;
    //      white-space: wrap;
    //    text-overflow: inherit;
    //    overflow: auto;
    
    // }
  
}
@media(max-width:1280px){
    .pagination{
        margin-top: 20px;
       margin-left: 70%;
    
    } 
  
}
@media(max-width:1024px){
    .pagination{
        margin-top: 20px;
       margin-left: 65%;
    
    } 
    // .item__attribute--desc{
    //     display: none;
    
    // } 
    // .item__attribute--quantity{
    //     margin-right: 1rem;
    // }
    // .navigator--desc{
    //     margin-left: 1rem;
       
    // }
}
@media(max-width:768px){
    // .item__attribute--link{
    //     margin-left: -0.5rem;
    // }
    .pagination{
        margin-top: 20px;
       margin-left: 45%;
    
    } 
}
@media(max-width:480px){
    th:nth-child(2){
        display: none;
    }
    th:nth-child(1){
        display: none;
    }
    th:nth-child(4){
        display: none;
    }
    th:nth-child(6){
        display: none;
    }
    .pagination{
        margin-left: 60%;
       li:not(:last-child):not(:first-child){
         display: none;
       }
      
      
    //     margin-top: 20px;
    //    margin-left: 5%;
    // display: none;
    } 
}
@media(max-width:320px){
    .pagination{
        margin-left: 30%;
       li:not(:last-child):not(:first-child){
         display: none;
       }
    }  
   
    
   
}

