.searchPage{
  width: 1220px;
  margin: 0 auto;
  padding-top: 130px;
  display: flex;
  &--nav{
    width: 20%;
      &--header{
        display: flex;
      }
  }
  &--main{
    width: 80%;
  }
}


.main--item{
  // background-color: red;
  
  &--searchResult{
    display: flex;
    flex-wrap: wrap;
    .suggest-item-outer{
      width: 20%;
      padding: 0 .3125rem;
      box-sizing: border-box;
      
      .suggest-item-inner{
          background-color: transparent;
      }
  
      .item-wrap{
          padding: .625rem;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          
      }
      
      .item{
          text-decoration: none;
          color: rgba(0,0,0,.8);
          box-shadow: 0 0.0625rem 0.125rem 0 rgb(0,0,0/10%);
          flex-direction: column;
          background: #fff;
          display: flex;
          position: relative;
          height: 100%;
          overflow: visible;
          border: 1px solid transparent;
          user-select: none;
          cursor: pointer;
          padding: 0;
          transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);  
          &:hover{
              border: 3px solid #ee4d2d;
              z-index: 2;
              color: #ee4d2d;
              box-shadow: 0 0.0625rem 20px 0 rgb(0, 0, 0 /5%);
              transform: translateY(-.0625rem);
              overflow: visible;
              .item-hover-footer{                
                  opacity: 1;
                  transition: opacity .1s;
              }
  
          }
          .item-img{
            width: 100%;
            padding-top: 100%;
            position: relative;
            
        }

        .img-product{
            vertical-align: bottom;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border:0;
        }

        .txt-box{
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            padding: .5rem;
            overflow: hidden;
            .product-desc-wrapper{
                flex-grow: 1;
                min-height: 1.75rem;
                
                }
            
            .product-desc{
                flex-grow: 1;
                min-height: 1.75rem;                      
            }

            .product-desc-txt{
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 14px;
                font-size: .75rem;
            
            }

            .price-tag{
                padding: .3125rem 0 0;
                align-items: baseline;
                max-width: 100%;
                display: flex;
                height: 1.5rem;
                line-height: 1.5rem;
                overflow: hidden;
                

            }

            .price-wrapper{
                display: inline;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex-grow: 1;
                color: rgb(238, 77, 45);
                                                  
            }

            .price{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 1rem;
                color: #ee4d2d;
            }  

            .sold-num{
                color: rgba(0, 0, 0, 0.54);
                flex-shrink: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-left: .3125rem;
                font-size: .75rem;
            }
            .item-hover-footer{
              opacity: 0;
              position: absolute;
              left: -.0625rem;
              top: calc(100% - .125rem);
              width: 100%;
              height: 1.875rem;
              background-color: #ee4d2d;
              color: #fff;
              text-align: center;
              line-height: 1.875rem;
              border: 1px solid #ee4d2d;
              border-bottom-left-radius: .125rem;
              border-bottom-right-radius: .125rem;
              z-index: 1;
          }
          }
      }

      .item-hover-footer{
        opacity: 0;
        position: absolute;
        left: -.0625rem;
        top: calc(100% - .125rem);
        width: 100%;
        height: 1.875rem;
        background-color: #ee4d2d;
        color: #fff;
        text-align: center;
        line-height: 1.875rem;
        border: 1px solid #ee4d2d;
        border-bottom-left-radius: .125rem;
        border-bottom-right-radius: .125rem;
        z-index: 1;
      }
  }
  }
}


.main--filter{
  display: flex;
 background-color: $colorSecondary;
 padding: 10px 20px;
  &--order{
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
  }
  &--title{
    margin-right: 20px;
  }
  &--box{
    display: flex;
    .box--listbtn{
      .btn{
        margin-right: 10px;
      }
    }

  }
  &--pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .pagination--number{
      margin-right: 10px;
    }
  }
}
.box--dropdown{
  position: relative;
&--title{
  display: flex;
  width: 200px;
  .name{
    width:90% ;
    color:$colorPrimary;
  }
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  .check{
    color:$colorPrimary ;
  }
}
}
.box--dropdown:hover .dropdown-content {
  display: block;
}
.nav--filter--category{
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  font-size: small;
  .filter-header{
    font-size: medium;
    margin-bottom: 10px;
  }
  div{
    margin: 10px 0;
  }
}
.nav--filter--position{
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  font-size: small;
  .filter-header{
    font-size: medium;
    margin-bottom: 10px;
  }
  div{
    margin: 10px 0;
  }
}
.nav--filter--rangeprice{
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  .filter-header{
    font-size: medium;
    margin-bottom: 10px;
  }
  .rangeprice--box{
    display: flex;
    .from{
      width: 30px;
      input{
        width: 30px;
      }
    }
  }
}
.nav--filter--rate{
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  .filter-header{
    font-size: medium;
    margin-bottom: 10px;
  }
  .five-star{
   font-size: 20px;
   cursor: pointer;
   .five{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }
   .four{
    color: rgb(255, 217, 0);
    margin-right: 3px;
  }
  .three{
    color: rgb(255, 217, 0);
    margin-right: 3px;
  }
  .two{
    color: rgb(255, 217, 0);
    margin-right: 3px;
  }
  .one{
    color: rgb(255, 217, 0);
  }
  }
  .four-star{
    cursor: pointer;
    font-size: 20px;
    .five{
      color: rgb(255, 217, 0);
      margin-right: 3px;
    }
    .four{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }
   .three{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }
   .two{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }
  
   }
   .three-star{
    cursor: pointer;
    font-size: 20px;
    .five{
      color: rgb(255, 217, 0);
      margin-right: 3px;
    }
    .four{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }
   .three{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }
   
  
   }
   .two-star{
    cursor: pointer;
    font-size: 20px;
    .five{
      color: rgb(255, 217, 0);
      margin-right: 3px;
    }
    .four{
     color: rgb(255, 217, 0);
     margin-right: 3px;
   }

  
   }
   .one-star{
    cursor: pointer;
    font-size: 20px;
    .five{
      color: rgb(255, 217, 0);
      margin-right: 3px;
    }
   

  
   }
}
.nav--filter--remove{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}